h1 {
    color: rgb(156, 35, 156)
}

h2 {
    color: rgb(115, 180, 115)
}

p { 
    font-family:'Courier New', Courier, monospace
}

header, footer{
    border-style: solid;
    border-color: purple;
}

nav{
    border-style: solid;
    border-color: purple;
}

main{
    border-style: solid;
    border-color: yellowgreen;
}